{% load i18n %}
{% load form_tags %}

{% for field in form %}
<div class="mb-4">
    <label for="{{ field.id_for_label }}" class="form-label fw-bold">
        {% trans field.label %}
        {% if field.field.required %}
            <span class="text-danger"><b>*</b></span>
        {% endif %}
    </label>
    <div class="input-group input-group-base">
        <span class="input-group-icon">
            <i class="bi {{ field|get_field_icon }}"></i>
        </span>
        {{ field }}
        {% comment %} {% if field.errors %} // FIXME
            <div class="invalid-feedback">
                {% for error in field.errors %}
                    {{ error }}{% if not forloop.last %}<br>{% endif %}
                {% endfor %}
            </div>
        {% endif %} {% endcomment %}
    </div>
    {% if field.help_text %}
        <div class="form-text">{{ field.help_text }}</div>
    {% endif %}
</div>
{% endfor %}