<meta charset="UTF-8" />
<link rel="icon" type="image/svg+xml" href="/static/img/favicon-RHtpAgq_.svg" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>ЕГЭйм - как ЕГЭ, но проще</title>
<meta name="title" content="ЕГЭ больше не будет прежним" />
<meta name="description" content="Обучение с игровыми механиками и умным планированием" />

<meta property="og:type" content="website" />
<meta property="og:title" content="ЕГЭ больше не будет прежним" />
<meta property="og:description" content="Обучение с игровыми механиками и умным планированием" />
<meta property="og:image:width" content="512" />
<meta property="og:image:height" content="512" />
<meta property="og:image" content="https://i.ibb.co/WKN22tZ/logo-square.png" />
<meta property="og:site_name" content="E-Game" />

<meta name="twitter:card" content="summary" />
<meta property="og:image" content="https://i.ibb.co/WKN22tZ/logo-square.png" />
<meta name="twitter:title" content="ЕГЭ больше не будет прежним" />
<meta name="twitter:description" content="Обучение с игровыми механиками и умным планированием" /> 