:root {
    --base-border-radius: 15px;
    --base-border-radius-x0_5: calc(var(--base-border-radius) * 0.5);
    --base-border-radius-x0_75: calc(var(--base-border-radius) * 0.75);
    --base-border-radius-x1_25: calc(var(--base-border-radius) * 1.25);
    --base-border-radius-x1_5: calc(var(--base-border-radius) * 1.5);
    --base-border-radius-x2: calc(var(--base-border-radius) * 2);
    --base-border-radius-x3: calc(var(--base-border-radius) * 3);

    --container-lg-shadow: 0 6px 30px 6px rgba(0, 0, 0, 0.1);
    --container-md-shadow: 0 4px 15px 3px rgba(0, 0, 0, 0.1);
    --container-sm-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.1);

    --base-transition: 0.3s ease;
}

[data-bs-theme="light"] {
    --base-color: #660ff1;
    --base-color-subtle: #dab0ff;
    --bg-color-main: #ffffff;
    --bg-color-secondary: #f9fafc;
    --text-main: #111828;
    --text-secondary: #525b68;
    --text-border: #e5e6e9;
}

[data-bs-theme="dark"] {
    --base-color: #8540f5;
    --base-color-subtle: #140330;
    --bg-color-main: #111828;
    --bg-color-secondary: #202938;
    --text-main: #ffffff;
    --text-secondary: #b2b6be;
    --text-border: #394253;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-secondary);
    transition: all var(--base-transition);
}

main {
    flex: 1;
}

/* ----- BUTTONS ----- */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500 !important;
    border-width: 1.5px !important;
    border-radius: var(--base-border-radius-x3) !important;
    padding: 0.5rem 1rem !important;
    font-size: 0.9rem !important;
    cursor: pointer !important;
    white-space: nowrap;
    transition: all 0.2s ease !important;
    box-shadow: none !important;
}

.btn i {
    font-size: 1em;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.btn span {
    vertical-align: middle;
}

/* --- Types --- */


.btn-outline {
    color: var(--base-color);
    border-color: var(--base-color);
    background-color: rgba(0, 0, 0, 0);
}

.btn-outline:hover {
    color: white;
    background-color: var(--base-color);
    border-color: var(--base-color);
}

.btn-outline:active {
    color: var(--base-color) !important;
    background-color: var(--base-color-subtle) !important;
    border-color: var(--base-color) !important;
}


.btn-bg-subtle {
    color: var(--base-color);
    border-color: var(--base-color-subtle);
    background-color: var(--base-color-subtle);
}

.btn-bg-subtle:hover {
    color: var(--base-color);
    background-color: var(--base-color-subtle);
    border-color: var(--base-color);
}

.btn-bg-subtle:active {
    color: var(--base-color) !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: var(--base-color) !important;
}


.btn-bg-subtle-outline {
    color: var(--base-color);
    border-color: var(--base-color);
    background-color: var(--base-color-subtle);
}

.btn-bg-subtle-outline:hover {
    color: var(--base-color);
    background-color: var(--base-color-subtle);
    border-color: var(--base-color-subtle);
}

.btn-bg-subtle-outline:active {
    color: var(--base-color) !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}


.btn-solid {
    color: white;
    background-color: var(--base-color);
    border-color: var(--base-color);
}

.btn-solid:hover {
    color: var(--base-color);
    background-color: var(--base-color-subtle);
    border-color: var(--base-color);
}

.btn-solid:active {
    color: var(--base-color) !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: var(--base-color) !important;
}


.btn-danger {
    --base-color: var(--bs-danger) !important;
    --base-color-subtle: var(--bs-danger-bg-subtle) !important;
}

.btn-success {
    --base-color: var(--bs-success);
    --base-color-subtle: var(--bs-success-bg-subtle)
}



.page-header {
    background-color: var(--bg-color-secondary);
    padding: 3rem 0;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
    border-radius: var(--base-border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.page-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 45%, var(--base-color) 45%, var(--base-color) 55%, transparent 55%);
    opacity: 0.1;
}

.page-header h1 {
    color: var(--text-main);
    font-weight: 600;
    margin: 0;
    position: relative;
}

a {
  text-decoration: none;
}

/* ----- CONTAINERS ----- */

.container {
    padding: 2rem;
    margin: 2rem;
}

.container-lg-shadow {
    box-shadow: var(--container-lg-shadow);
}

.container-translateY {
    box-shadow: 0 4px 15px 3px rgba(0, 0, 0, 0.1);
    transition: transform var(--base-transition);
}

.container-translateY:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px 5px rgba(0, 0, 0, 0.15);
}

.container-main {
    background-color: var(--bg-color-main);
}

.container-secondary {
    background-color: var(--bg-color-secondary);
}

.container-rounded {
    border-radius: var(--base-border-radius);
}

.container-rounded-x0_5 {
    border-radius: var(--base-border-radius-x0_5);
}

.container-rounded-x1_5 {
    border-radius: var(--base-border-radius-x1_5);
}

.container-rounded-x2 {
    border-radius: var(--base-border-radius-x2);
}

.container-rounded-x3 {
    border-radius: var(--base-border-radius-x3);
}

.container-bordered {
    border: 2px solid var(--text-border);
}

/* Adaptive containers */
@media (min-width: 375px) {
    .container-xs {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 576px) {
    .container-sm {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    .container-md {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 992px) {
    .container-lg {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {
    .container-xl {
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1400px) {
    .container-xxl {
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
    }
}