{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head_meta.html' %}
    <link rel="stylesheet" crossorigin="" href="{% static 'css/getting_started.css' %}">
    <link rel="stylesheet" crossorigin="" href="{% static 'css/nav.css' %}">
 
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    {% block head_meta %}
    {% endblock %}
</head>
<body>
<div id="root">
    <div class="min-h-screen bg-white dark:bg-gray-900">

        <header>
            {% include 'includes/header.html' %}
        </header>

        <div class="pt-16" style="padding-top: 3.25rem;">
            <aside class="w-64 bg-white dark:bg-gray-800 shadow-lg fixed left-0 mt-3 h-full">
                {% include 'includes/left_nav.html' %}
            </aside>
            <main class="flex-1 overflow-y-auto bg-gray-50 dark:bg-gray-900 p-6" style="margin-left: 250px;">
                {% block content %}
                {% endblock %}
            </main>
        </div>
        <footer class="bg-gray-900 text-gray-400 py-12" style="margin-left: 250px;">
            {% include 'includes/footer.html' %}
        </footer>
    </div>
</div>
</body>
</html>